/* DEFAULT.CSS */

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Dosis', sans-serif;
	color: #fff;
	background: #e74c3c;
}

a {
	color: #c0392b;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: #d94839;
	padding: 3em;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 69em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #e74c3c;
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #87f5f8;
	color: #39454a;
	border: solid 4px #87f5f8;
	font-family: 'Dosis', sans-serif;
	font-size: 3.5em;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #39454a;
    color: #87f5f8;
    border: solid 4px #87f5f8;
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

/* ------------------------------------------------------------------------------------------------------------------------- */

html, body {
	position: relative;
	height: 100%;
  }
  body {
	background: #39454A;
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	color:#000;
	margin: 0;
	padding: 0;
  }

  header{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
  }
  
  .content{
	background: #39454A!important;
  }

  .swiper-container,
  .swiper-container2  {
	width: 100%;
	height: 100%;
  }
  .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100vh;
	position: relative;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform,-webkit-transform;

	/* text-align: center;*/
	/* Center slide text vertically 
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center; */
  }

  .menu {
	min-width: 100px;
	width: 70%;
	max-width: 320px;
	background-color: #87F5F8;
	color: #fff;
  }
  .content {
	width: 100%;
	height: 90vh;
  }
  .menu-button {
	position: absolute;
	top: 0px; left: 0px;
	padding: 15px;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	background-color: #39454A;
	z-index: 999999;
	/*margin: 14px;
	border-radius: 5px;*/
  }
  .menu-button .bar:nth-of-type(1) {
	margin-top: 0px;
  }
  .menu-button .bar:nth-of-type(3) {
	margin-bottom: 0px;
  }
  .bar {
	position: relative;
	display: block;
	width: 20px;
	height: 3px;
	margin: 3px auto;
	background-color: #87F5F8;
	border-radius: 10px;
	-webkit-transition: .3s;
	transition: .3s;
  }

  .menu-button:hover{
	background-color: #93BEDF;
  }

  .menu-button.cross{
	background-color: #87F5F8;
  }

  .menu-button.cross .bar{
	background-color: #39454A;
  }

  .menu-button:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(1.5px) rotate(-4.5deg);
	-ms-transform: translateY(1.5px) rotate(-4.5deg);
	transform: translateY(1.5px) rotate(-4.5deg);
  }
  .menu-button:hover .bar:nth-of-type(2) {
	opacity: .9;
  }
  .menu-button:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-1.5px) rotate(4.5deg);
	-ms-transform: translateY(-1.5px) rotate(4.5deg);
	transform: translateY(-1.5px) rotate(4.5deg);
  }
  .cross .bar:nth-of-type(1) {
	-webkit-transform: translateY(6px) rotate(-45deg);
	-ms-transform: translateY(6px) rotate(-45deg);
	transform: translateY(6px) rotate(-45deg);
  }
  .cross .bar:nth-of-type(2) {
	opacity: 0;
  }
  .cross .bar:nth-of-type(3) {
	-webkit-transform: translateY(-6px) rotate(45deg);
	-ms-transform: translateY(-6px) rotate(45deg);
	transform: translateY(-6px) rotate(45deg);
  }
  .cross:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(5.5px) rotate(-40.5deg);
	-ms-transform: translateY(5.5px) rotate(-40.5deg);
	transform: translateY(5.5px) rotate(-40.5deg);
  }
  .cross:hover .bar:nth-of-type(2) {
	opacity: .1;
  }
  .cross:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-6.5px) rotate(40.5deg);
	-ms-transform: translateY(-6.5px) rotate(40.5deg);
	transform: translateY(-6.5px) rotate(40.5deg);
  }

  .cover-background {
	position: relative !important;
	background-size: cover !important;
	overflow: hidden !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
  }

  .swiper-slide h1{
	color: #fff;
	font-weight: 500;
	font-size: 3em;
  }

  .intro{
	display: inline;
	text-align: left;
	margin-left: 3%;
  }

  .intro p{
	color:#bdf9fb;
	font-weight: 200;
	font-size: 1.5em;
  }
  
  .cover-background button{
	background: none;
	padding: 0;
	font-weight: 500;
	border: none;
	color: #fff;
  }

  .cover-background button:hover{
	color: #bdf9fb;
  }

  .position-absolute {
	position: absolute !important;
	bottom: 130px;
	z-index: 5;
	width: 100%;
	overflow: visible;
	margin: 0;
	text-align: center;
  }

  .subtitle{
	color: #fff;
	letter-spacing: 3px;
  }

  .skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.8);
}